body {
  margin: 100;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

#footer{
  margin-top: auto;
}

footer {
  margin-top: auto;
}

.footer {
  margin-top: auto;
}

#hook{
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 35px;
}

#thesis{
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 35px;
  padding-top: 10%;
  padding-bottom: 10%;
}

#contact{
  padding-bottom: 15%;
}

#demo{
  background-color: #bf3f3e;
  color: white;
  text-align: center;
}

.navbar_header{
  display: flex;
  flex-direction: row;
}

.right{
  width: 1200px;
  text-align: left;
}

.block {
  width: 250px;
  height: 20px;
}

.outside{
  width: 225px;
  text-align: center;
  margin-top: auto;
  margin-bottom: auto;
}


.borders{
  margin-left: auto;
  margin-right: auto;
  width: 70%;
  padding-bottom: 5%;
}

.top{
  padding-top: 50px;
}

.invite{
  padding-top: 23%;
  padding-bottom: 20px;
}

.thick{
  padding-top: 10%;
  text-align: center;
}

.mid{
  position: relative;
  text-align: right;
  top: 30%;
}

.invite2{
  padding-bottom: 20px;
}

.thanks{
  color: red;
  text-align: center;
}

.lognBtn{
  padding: 5px;
}


.loginBtn{
  margin-bottom: 5px;
  padding: 5px;
  padding-left: 20px;
  padding-right: 20px;
}

@media screen and (max-width: 800px) {

  #hook{
    display: grid;
    grid-template-columns: 1fr;
  }

  #thesis{
    display: grid;
    grid-template-columns: 1fr;
  }

  .mobile{
    height: 85vh;
  }

  .navbar_header{
    display: flex;
    flex-direction: column;
  }

  .image{
    margin-left: auto;
    margin-right: auto;
    text-align: center;
  }

  .right{
    width: 100%;
    margin-bottom: 3%;
    padding-left: 25%;
  }

  .outside{
    width: 100%;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    margin-top: auto;
    margin-bottom: auto;
    padding-bottom: 6%;
  }

  .header{
    text-align: center;
  }

  .borders{
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 10%;
    width: 95%;
  }

  .thick{
    padding-top: 10%;
    text-align: center;
  }

  .secondary{
    width: 70%;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 10%;
  }

  .thick2{
    padding-top: 10%;
    text-align: center;
    margin-bottom: -20%;
  }

  .mid{
    width: 70%;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 50%;
  }

  .thick2{
    text-align: center;
  }

  .loginBtn{
    padding-top: 10px;
    padding-bottom: 10px;
    font-size: 15px;
    font-weight: bold;
  }

  #footer{
    margin-top: auto;
}

}
